.form-wrapper
  .form-wrapper__container
    .form-wrapper__container__header
      %p
        = icon('fa', 'plus-circle')
        チームを選択
    .form-wrapper__container__form
      .form-wrapper__container__form__field
        - unless @teams.empty?
          %h2 チームを選択してください
          - @teams.each do |team|
            .team_field
              %p
                = link_to "#{team.name}", team_path(team)
        - else
          %h2 チームはありません
        %p
        = link_to 'チームを新規作成', new_team_path
