.form-wrapper
  .form-wrapper__container
    %h2.form-wrapper__container__heading アクションの新規作成
    = form_with model: [@goal, @mind], url: goal_minds_path(@goal), class: "form-wrapper__container__new-user-form", local: true do |f|

      .form-wrapper__container__new-user-form__field
        = f.text_field :title, class: "form-wrapper__container__new-user-form__field__input", placeholder: 'アクションの内容', autocomplete: "off"
      .form-wrapper__container__new-user-form__field__actions
        = f.submit "Create", class: "form-wrapper__container__new-user-form__field__actions--button"