.goal-wrapper {
  @include wrapper();
}

.goal-index-info {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  &__main {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    overflow: scroll;
    &__statusbar {
      width: 95%;
      height: 60px;
      margin: 0 auto 50px;
      padding: 10px;
      border-radius: 3px;
      @include border;
      background-color: $white;
    }
    &__status-label {
      width: 95%;
      height: 30px;
      margin: 0 auto;
    }
    &__status {
      width: 95%;
      height: 150px;
      margin: 0 auto 50px;
      padding: 20px;
      border-radius: 3px;
      background-color: $white;
      @include border();
      display: flex;
      justify-content: space-between;
      &__left {
        display: flex;
        align-items: flex-end;
      }
    }
  }
  &__sidebar {
    width: 40%;
    height: 100%;
    padding-top: 80px;
    &__task-list {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      border-radius: 3px;
      @include border();
      background-color: $white;
      overflow: scroll;
      &__label {
        width: 100%;
        height: 30px;
        background-color: #e2e8e4;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(160,166,179,0.3);
      }
      &__task {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        padding: 10px;
      }
    }
  }
}

.goal-show-info {
  width: 80%;
  height: 100%;
  padding: 5rem 0;
  margin: 0 auto;
  &__header {
    width: 100%;
    height: 3rem;
    margin-bottom: 3rem;
    color: #002c54;
    font-weight: bold;
    &__title {
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0.2rem;
    }
  }
  &__contents {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0.5rem;
    background-color: $white;
    @include border();
    overflow: scroll;
    &__phase-header {
      font-size: 1.5rem;
      background: lightsalmon;
    }
    &__top {
      width: 100%;
      height: 100%;
      background: lightblue;
      display: flex;
      justify-content: space-evenly;
      &__phase {
        width: 55%;
      }
      &__comments {
        width: 45%;
        input {
          width: 95%;
          border: 0.1rem solid $lightgray;
        }
      }
    }
    &__bottom {
      height: 20%;
      background: lightgreen;
    }

    &__phase__config p {
      display: inline-block;
      cursor: pointer;
    }
    &__accbox {
      width: 100%;
      margin-top: 1.5rem;
      label {
        display: inline-block;
        margin: 1.5px 0;
        cursor: pointer;
      }
      input {
        display: none;
      }
      &__cssacc:checked + &__accshow {
        width: 100%;
        height: auto;
        background: $white;
        display: block;
        opacity: 1;
      }
      &__accshow__checkbox {
        display: flex;
        label {
          cursor: default;
        }
        input {
          display: inline-block;
        }
        p {
          padding-top: 0.3rem;
          margin-left: 1rem;
          font-size: 0.7rem;
          cursor: default;
        }
      }
    }
    &__accbox &__accbox__accshow {
      overflow: hidden;
      display: none;
      opacity: 0;
    }
  }
}

.empty {
  color: #b9c4c9;
}

#comment_input {
  @include border();
}