.goal-wrapper {
  @include wrapper();
  display: flex;
  justify-content: center;
}

.goal-index__container {
  width: 90%;
  max-width: 50rem;
  height: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    width: 100%;
    height: 3rem;
    margin-bottom: 5rem;

    &__title {
      width: 100%;
      height: 3rem;
      padding: 0.3rem;
      background: $white;
      border-radius: 1rem;
      @include border;
      border-left: 0.5rem solid $lightblue;
      display: flex;
      align-items: center;

      p {
        font-size: 1.2rem;
      }
    }

    &__edit {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      a {
        margin-top: 0.3rem;
        @include hover();
      }
    }
  }

  &__contents {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0.3rem;
    background: $white;
    @include border();

    &__top {
      width: 100%;
      margin-top: 0.3rem;
      margin-bottom: 1rem;
      border-left: 0.5rem solid $orange;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-size: 1.1rem;
      }

      &__links {
        display: flex;

        a {
          @include icon();
        }
      }
    }

    &__status {
      width: 100%;
      margin-bottom: 0.3rem;

      &__phase { 
        width: 100%;
        padding: 0.3rem;
        margin-bottom: 1rem;
        @include border();

        span {
          color: green;
        }

        &__title {
          margin-bottom: 0.8rem;
          border-bottom: 0.1rem solid $orange;
          font-weight: bolder;
          display: inline-block;
        }

        &__task {
          width: 100%;
          display: flex;
          justify-content: space-between;

          &__count {

          }

          &__show {
            display: flex;
            align-items: flex-end;
            
            a:hover {
              opacity: 0.8;
            }
          }
        }

        &__info {
          color: gray;
        }
      }
      &__task-unfinished__task {
        p {
          margin: 0.5rem 0;
        }
      }
    }
    &__team-status {

    }
    &__projects {
      &__index {
        &__link {
          a:hover {
            @include hover();
          }
        }
      }
    }
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a:hover {
      opacity: 0.8;
    }
  }
}

.goal-show-info {
  width: 90%;
  max-width: 50rem;
  height: 100%;
  padding: 5rem 0;
  margin: 0 auto;
  &__header {
    width: 100%;
    margin-bottom: 2rem;
    color: #002c54;
    font-weight: bold;
    &__title {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #dbdbdb;
      font-size: 1.3rem;
      text-align: center;
      letter-spacing: 0.1rem;
    }
    &__remind {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      padding: 0.5rem;
      @include border();
      border-left: 0.5rem solid $lightblue;
      background: $white;
      &__title {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      &__index {
        width: 100%;
        margin-bottom: 0.3rem;
        display: flex;
        justify-content: space-between;
        &__link {
          a {
            @include icon();
          }
        }
      }
    }
    &__link {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      a:hover {
        @include hover();
      }
    }
  }
  &__contents {
    width: 100%;
    padding: 0.5rem;
    background-color: $white;
    @include border();
    overflow: scroll;
    &__phase-header {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: bolder;
      display: flex;
      justify-content: space-between;
      &__title {
        width: 100%;
        &__phase {
          padding-left: 0.5rem;
          border-left: 0.5rem solid $orange;
        }
      }
      &__title__nav {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        &__link {
          display: flex;
          align-items: flex-end;
         a {
          @include icon();
          @include hover();
        }
        }
        span {
          color: green;
        }
      }
    }
    &__top {
      width: 100%;
      height: 80%;
      &__phase {
        width: 100%;
      }
      &__tasks {
        width: 100%;
        &__title {
          border-bottom: 0.1rem solid $lightgray;
        }
        &__index {
          padding: 0.5rem 0;
          margin-bottom: 0.2rem;
          &__timestamp {
            padding-left: 0.8rem;
            font-size: 0.6rem;
          }
          &__checkbox {
            display: flex;
            justify-content: space-between;
            &__link {
              display: flex;
              align-items: flex-end;
              a {
                @include icon();
              }
            }
            label {
              display: inline-block;
              cursor: pointer;
            }
            input {
              margin-right: 0.2rem;
            }
          }
        }
        &__create {
          margin-top: 2rem;
          display: flex;
          justify-content: flex-end;
          a:hover {
            @include hover();
          }
        }
      }
    }
    &__bottom {
      width: 100%;
      height: 20%;
      margin: 0.3rem 0;
      padding-top: 0.5rem;
      border-top: 0.1rem solid $lightgray;
      &__accbox {
        width: 100%;
        &__label {
          margin: 1.5px 0;
          cursor: pointer;
          span {
            color: gray;
          }
          &:hover {
            @include hover();
          }
        }
        input {
          display: none;
        }
        &__cssacc:checked + &__accshow {
          width: 100%;
          display: block;
          opacity: 1;
        }
      }
      &__accbox &__accbox__accshow {
        overflow: hidden;
        display: none;
        opacity: 0;
      }
      &__comments {
        width: 100%;
        height: 100%;
        &__content {
          width: 100%;
          &__comment {
            width: 100%;
            padding: 0.2rem 0;
            margin: 0.5rem 0;
            line-height: 1.3rem;
            display: flex;
            justify-content: space-between;
            a:hover {
              @include hover();
            }
          }
        }
        &__form {
          width: 95%;
          margin-top: 3rem;
          display: flex;
          align-items: center;
          position: relative;
          button {
            color: #4cb5f5;
            position: absolute;
            right: 0.5em;
            &:hover {
              @include hover();
            }
          }
          input {
            width: 100%;
            height: 1.5rem;
            padding-right: 1.4rem;
            vertical-align: middle;
            background: #f8f5f2;
            @include border();
            border-radius: 0.3rem;
            display: inline;
          }
        }
      }
    }

    &__phase__config p {
      display: inline-block;
      cursor: pointer;
    }
  }
  &__create {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-end;
    a {
      @include hover();
    }
  }
}

.project-show-info__contents__top__tasks__index__checkbox {
  display: flex;
  justify-content: space-between;
  &__link {
    display: flex;
    align-items: flex-end;
    a {
      @include icon();
    }
  }
  label {
    display: inline-block;
  }
  input {
    margin-right: 0.2rem;
  }
}

.blue {
  color: $lightblue;
}

.empty {
  color: #b9c4c9;
}

#comment_input {
  @include border();
}