.goal-wrapper
  .goal-info
    .goal-info__main
      .goal-info__main__statusbar
        %p 目標総数：count
        %p 
      .goal-info__main__status-label
        %p Label
      .goal-info__main__status
        .goal-info__main__status__right
          %p Example 英語リーディング教本を終わらせる
          %p phase 応用問題に取り組む
          %p task 3 / 7
        .goal-info__main__status__left
          .goal-info__main__status__left__link
            = link_to '進捗を更新する', '#'
      .goal-info__main__status
        .goal-info__main__status__right
          %p Example 10kg痩せる
          %p phase 週3回ランニングする
          %p task 2 / 3
        .goal-info__main__status__left
          .goal-info__main__status__left__link
            = link_to '進捗を更新する', '#'
      .goal-info__main__status
        .goal-info__main__status__right
          %p Example 100万円貯める
          %p phase 生活費を算出する
          %p task 5 / 8
        .goal-info__main__status__left
          .goal-info__main__status__left__link
            = link_to '進捗を更新する', '#'
    .goal-info__sidebar
      .goal-info__sidebar__task-list
        .goal-info__sidebar__task-list__label
          %p task index
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task2
        .goal-info__sidebar__task-list__task
          %p task3
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1
        .goal-info__sidebar__task-list__task
          %p task1